body {
  background: #0b1040;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile-card {
  background: rgba(45,45,60,0.85);
  backdrop-filter: blur(8px);
  width: 350px;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  color: #eee;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #8abcd7;
  transition: transform 0.2s ease; /* future animation*/
}
	
h1 {
  margin: 5px 0 5px;
  color: #8abcd7;
}

.title {
  margin-top: 0.2px;
  font-size: 14px;
  color: #679ba3;
}

.bio {
  margin: 15px 0;
  line-height: 1.5;
}

.links {
  margin-top: 5px;
}

.icon-link img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s, opacity 0.2s;
}

.icon-link {
text-decoration: none;
}

.icon-link:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px rgba(138, 188, 215, 0.8));
}

.button-text {
  margin-top: 0px;
  font-size: 10px;
  color: #679ba3;
}


.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 0px;
}

.button-link {
  display: inline-block;
}

.button-link img {
  height: 31px; 
  display: block;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button-link:hover img {
  transform: scale(1.15);
  box-shadow: 0 0 8px rgba(6, 163, 207, 0.5);
}

.static-button {
  height: 31px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: inline-block; 
}

.static-button:hover {
  transform: scale(1.15);
  box-shadow: 0 0 8px rgba(6, 163, 207, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.disclaim {
  margin-top: 10px; 
  font-size: 10px;
  color: #679ba3;
  display: block;   
  width: 100%;     
}

.forum-btn {
  display: inline-block;
  background: #679ba3;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #8abcd7;
  transition: all 0.2s ease;
  margin-top: 1px; 
}

.forum-btn:hover {
  background: #8abcd7;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
